{% extends "account/studentbase.html" %}
{% load static %}

{% block title %}Reset your password{% endblock title %}

{% block content %}


<div class="container bg-light">

<center>
            <div class="col-md-4 col-xl-6">
                <div class="card order-card" style="background:#eee">
                  <div class="card-block" style="color:black !important">
                      <h2>Reset your password</h2>
                      {% if validlink %}
                        <p>Please enter your new password twice:</p>
                         <form method="post">
                             {% csrf_token %}
                             {% for field in form %}
                            <div class="field">
                                {{ field.errors }}
                                {{ field.label_tag }}&nbsp;&nbsp;
                                {{ field }}
                            </div>
                             {% endfor %}
                            <button type="submit" class="btn btn-primary">Change my password</button>
                         </form>
                      {% else %}
                      <div class="alert alert-warning">
                          <p><i class="fa fa-warning"></i> The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
                      </div>

                      {% endif %}

                  </div>
                </div>
            </div>
</center>

    </div>


{% endblock content %}